body {
     font-family: arial;
     font-size: small;
      background: #91c4ff;
border-radius: 5px;
border-color: #773bf7;
border-style: solid;
border-width: 6px;
padding: 10px;
}
.glow { font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4a0a9856;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;#
        
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6c0, 0 0 40px #03d4d0, 0 0 50px #004de6, 0 0 60px #0049e6, 0 0 70px #6000e6;
        }
        to {
          text-shadow: 0 0 20px #fcfffc, 0 0 30px #ffffff, 0 0 40px #a2ffb6, 0 0 50px #7efa78, 0 0 60px #4dff68, 0 0 70px #49fb49, 0 0 80px #01f836;
        }
      }   
      h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      };

.rainbow{
  background-color: #00085d;
  border-radius: 4px;  
  color: #5d00ff;
  cursor: pointer;
  padding: 8px 16px;
  
}

.rainbow-5:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

button{
  border-color: #a0a7f7;
  color: #ae19ab;
  background-color: #5ce4fcfb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 6px;
  border-radius: 10px;
  margin: 4px;
  width: 180px;
}


